## Assignment 2

In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [45]:
yeast = pd.read_csv('yeast.data', sep = '\s+', header = None)
yeast.head()

            0     1     2     3     4    5    6     7     8    9
0  ADT1_YEAST  0.58  0.61  0.47  0.13  0.5  0.0  0.48  0.22  MIT
1  ADT2_YEAST  0.43  0.67  0.48  0.27  0.5  0.0  0.53  0.22  MIT
2  ADT3_YEAST  0.64  0.62  0.49  0.15  0.5  0.0  0.53  0.22  MIT
3  AAR2_YEAST  0.58  0.44  0.57  0.13  0.5  0.0  0.54  0.22  NUC
4  AATM_YEAST  0.42  0.44  0.48  0.54  0.5  0.0  0.48  0.22  MIT

In [57]:
col_names = ['v{}'.format(i) for i in range(0, 9)]
col_names.append('y') 
yeast.columns = col_names

In [59]:
yeast.head()

           v0    v1    v2    v3    v4   v5   v6    v7    v8    y
0  ADT1_YEAST  0.58  0.61  0.47  0.13  0.5  0.0  0.48  0.22  MIT
1  ADT2_YEAST  0.43  0.67  0.48  0.27  0.5  0.0  0.53  0.22  MIT
2  ADT3_YEAST  0.64  0.62  0.49  0.15  0.5  0.0  0.53  0.22  MIT
3  AAR2_YEAST  0.58  0.44  0.57  0.13  0.5  0.0  0.54  0.22  NUC
4  AATM_YEAST  0.42  0.44  0.48  0.54  0.5  0.0  0.48  0.22  MIT

Outlier detectot to be used:
- LOF: Local Outlier Factor
- One class SVM
- Isolation Forest